name: Update Gradle Wrapper

on:
  schedule:
    - cron: "0 0 * * Mon"
  workflow_dispatch:

jobs:
  update-gradle-wrapper:
    if: ${{ github.repository == 'Breus/json-masker' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'

      - uses: gradle-update/update-gradle-wrapper-action@v2
        with:
          labels: dependencies

      - uses: gradle/actions/wrapper-validation@v4